version: "3"
services:
  nginx:
    container_name: container_nginx
    hostname: container_nginx_hostname
    build: docker/nginx
    restart: always
    ports:
      - 80:8080
  app:
    container_name: container_app
    hostname: container_app_hostname
    build: docker/app
    restart: always
    ports:
      - 8080
    command: ./gradlew bootRun
    depends_on:
      - nginx