<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Instagram App</title>
</head>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/5.0.2/screenfull.min.js"></script>
<body>
<div id="app">
    <p>{{count}}</p>
    <div id="image" v-bind:style="{'background-image': 'url(' + photo + ')'}"></div>
</div>
</body>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</html>